
<div class="container offset-4 mt-5">
  <div class="card" style="width: 22rem">
    <h3 class="primary">
      Password Generator
    </h3>
  </div>

  <div class="card px-3 py-3" style="width: 22rem">
    <div class="card px-1 py-1">
      <h5 id="Enol">Enter Number of Length</h5>
      <input id="enol"
        (input)="numberLength($event.target.value)"
        type="number"

      />
    </div>
    <div>
      <input
        (change)="onChangeUseLetters()"
        type="checkbox"
        name="useLetters"
        id="useLettersId"
      />
      &nbsp;
      <label class="opt" for="useLetters">Use Letters</label>
    </div>
    <div>
      <input
        (change)="onChangeUseNumbers()"
        type="checkbox"
        name="useNumber"
        id="useNumber"
      />
      &nbsp;
      <label class="opt" for="useNumber">Use Number</label>
    </div>
    <div>
      <input
        (change)="onChangeUseSymbols()"
        type="checkbox"
        name="useSymbols"
        id="useSymbolsId"
      />
      &nbsp;
      <label class="opt" for="useSymbols">use Symbols</label>
    </div>
    <br />
    <div>
      <button  id="btn"
        [disabled]="
          !((inputLength && includesLetter) || includesNumer || includesSymbol)
        "

        type="submit"
        (click)="generatePassword()"
      >
        Generate
      </button>
    </div>
    <br />
    <div class="youP">
      <h5 >Your Password</h5>
      <input
        [value]="password"
        readonly
        type="text"
        name="yourpassword"
        id="yourpasswordId"
      />
    </div>
  </div>
</div>
