<p>mobile works!</p>
<button class="btn btn-success"> <a routerLinkActive ="active" routerLink ="/product" class="nav-link">Products </a></button>
<div class="container">
  <div class="card">
    <img src="../../assets/images/mobile.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="laptop" class="btn btn-primary">Laptop</a>
    </div>
  </div>

</div>
