<!--The content below is only a placeholder and can be replaced.-->


    <!-- <h1> Two way DataBinding </h1> -->

      <!-- <h1 style="text-align: center;"> Password Generator</h1>
    <app-password-generator>
    </app-password-generator> -->

  <!-- <h3> Sending Data from child to parent</h3>
  <app-test2 [child]="parentToChild" (fromChild)="onParent($event)"></app-test2>
  <button id="chTop" (click)="testnew()">Save</button> -->
  <!-- <app-demo></app-demo> -->
 <!-- <h4> {{Username}}</h4>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <ol>
    <li><input type="text" [(ngModel)]="Username"> </li>
    <li><p>Username : {{Username}}</p></li>
    <li><button id="btn1" [disabled]="!Username"> Log in</button> </li>
    <li><button id="btn2"(click)=" Clear(Username)"> Clear </button> </li>
  </ol>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-danger">Danger</button> -->


<!-- <div style = text-align:center>
  <app-test2 [child]="parentToChild">

  </app-test2>
  <app-card [title]="posts[0].title"[content]="posts[0].content"></app-card>
  <app-card [title]="posts[1].title"[content]="posts[1].content"></app-card>
</div> -->
<app-ctop (childTop)="childToParent($event)"></app-ctop>




